[submodule "PunishLib"]
	path = PunishLib
	url = https://github.com/sbago/PunishLib
[submodule "ECommons"]
	path = ECommons
	url = https://github.com/sbago/ECommons
[submodule "ClickLib"]
	path = ClickLib
	url = https://github.com/sbago/ClickLib
